@font-face {
    font-family: 'Open Sans Semibold';
    src: url("../../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url("../../fonts/OpenSans-Regular.ttf") format("truetype");
}

.form-wrap {
    font-family: "Open Sans Semibold", sans-serif;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin: 0 30px;
}

.form-books {
    display: flex;
    flex-wrap: wrap;
}

.button-add {
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    padding-top: 14px;
    cursor: pointer;
}

.sort {
    font-family: "Open Sans Regular", serif;
    font-size: 24px;
    margin-bottom: 25px;
}

.sort span:first-child {
    margin-right: 13px;
}

.sort-author, .sort-year {
    position: relative;
    margin-right: 40px;
}

.sort-author:after, .sort-year:after{
    position: absolute;
    bottom: 3px;
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url('../../svg/arrow_down.svg');
}

.modal {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 40px;
    left: 25%;
    border: 1px solid black;
    background: white;
    overflow: auto;
    border-radius: 5px;
    outline: none;
    padding: 20px;
}